---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kids' Corner Polls">
  <main>
    <h1>Kids' Corner Polls</h1>
    <p>This is a stub page for weekly polls and results.</p>
  </main>
</Layout>
