---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Melissa Craven">
  <h1>Contact</h1>

  <section>
    <h2>Get in touch</h2>
    <p>
      I am happy to connect about travel writing, Fulbright and ESOL resources,
      or author events.
    </p>
    <address>
      <p><a href="mailto:pro@melissacraven.me">pro@melissacraven.me</a></p>
      <p><a href="tel:+447915824236">+44 7915 824236</a></p>
      <p>
        <a href="https://www.linkedin.com/in/melissa-craven-fb2526/">LinkedIn</a
        >
      </p>
    </address>
  </section>
</Layout>
