---
import Layout from "../layouts/Layout.astro";
import { PortableText } from "astro-portabletext";
import Breadcrumb from "../components/Breadcrumb.astro";
import { getContactPage } from "../utils/sanity";

const contactPage = await getContactPage();
const intro = contactPage?.intro;
const contactLinks = contactPage?.contactLinks ?? [];
---

<Layout title="Contact">
  <section class="space-y-2">
    <h1>Contact</h1>
    <Breadcrumb />
  </section>

  <section class="space-y-4">
    {
      intro?.length ? (
        <div class="prose-content">
          <PortableText value={intro} />
        </div>
      ) : null
    }
    <address class="space-y-2">
      <ul>
        {
          contactLinks.map((link) => (
            <li>
              <a href={link.url}>{link.label}</a>
            </li>
          ))
        }
      </ul>
    </address>
  </section>
</Layout>
