---

---

<section>
  <h2>Next steps</h2>
  <ol>
    <li>
      <h3>Publish a post in your Studio</h3>
      <p>
        Visit the <a href="http://localhost:3333/">Sanity Studio</a> and publish a
        new document of type post.
      </p>
    </li>
    <li>
      <h3>Dive into the documentation</h3>
      <p>
        Check out{" "}
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.sanity.io/docs"
        >
          the documentation
        </a>{" "}
        to learn more about Sanity.
      </p>
    </li>
    <li>
      <h3>Join the Sanity Community</h3>
      <p>
        Leverage{" "}
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.sanity.io/exchange/community"
        >
          our awesome community
        </a>
        , and share tips and discuss!
      </p>
    </li>
  </ol>
</section>
