---
import Layout from "../../layouts/Layout.astro";
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getFulbrightPost, getFulbrightPosts } from "../../utils/sanity";

export async function getStaticPaths() {
  const posts = await getFulbrightPosts();

  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getFulbrightPost(slug);
---

<Layout title={post.title || "Fulbright Update"}>
  <article>
    <header>
      <h1>{post.title || "Untitled Fulbright update"}</h1>
      <p>
        <time datetime={post.publishedAt || post._createdAt}>
          {formatDate(post.publishedAt || post._createdAt)}
        </time>
      </p>
      {post.excerpt ? <p>{post.excerpt}</p> : null}
    </header>
    {
      post.mainImage ? (
        <figure>
          <img
            src={urlFor(post.mainImage).url()}
            alt={post.mainImage.alt || post.title || "Fulbright update image"}
          />
        </figure>
      ) : null
    }
    <section>
      <PortableText value={post.body} />
    </section>
  </article>
</Layout>
