---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import ResourceList from "../../components/ResourceList.astro";
import { getResourcesByCategory } from "../../utils/sanity";

const resources = await getResourcesByCategory("esol");
---

<Layout title="ESOL Tools">
  <section class="space-y-2">
    <h1>ESOL Tools</h1>
    <Breadcrumb />
    <p>Teaching tools and classroom support resources for ESOL instruction.</p>
  </section>
  <ResourceList
    resources={resources}
    emptyMessage="No ESOL tools are published yet."
  />
</Layout>
