---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import ResourceList from "../../components/ResourceList.astro";
import SimpleBlockContent from "../../components/SimpleBlockContent.astro";
import { getResources, getFulbrightPage } from "../../utils/sanity";

const [resources, fulbrightPage] = await Promise.all([
  getResources(),
  getFulbrightPage(),
]);
const description = fulbrightPage?.resourcesDescription;
const disclaimer = fulbrightPage?.disclaimer;
---

<Layout title="Fulbright Resources">
  <section class="space-y-2">
    <h1>Resources</h1>
    <Breadcrumb />
    {
      description?.length ? (
        <div class="prose-content">
          <SimpleBlockContent value={description} />
        </div>
      ) : null
    }
  </section>
  <ResourceList
    resources={resources}
    emptyMessage="No resources are published yet."
  />
  {
    disclaimer?.length ? (
      <div class="prose-content pt-6 border-t border-orange-200/70 mt-8 dark:border-brand-900/60">
        <SimpleBlockContent value={disclaimer} />
      </div>
    ) : null
  }
</Layout>
