---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import ResourceList from "../../components/ResourceList.astro";
import { PortableText } from "astro-portabletext";
import { getResources, getFulbrightPage } from "../../utils/sanity";

const [resources, fulbrightPage] = await Promise.all([
  getResources(),
  getFulbrightPage(),
]);
const description = fulbrightPage?.resourcesDescription;
---

<Layout title="Fulbright Resources">
  <section class="space-y-2">
    <h1>Resources</h1>
    <Breadcrumb />
    {
      description?.length ? (
        <div class="prose-content max-w-2xl">
          <PortableText value={description} />
        </div>
      ) : null
    }
  </section>
  <ResourceList
    resources={resources}
    emptyMessage="No resources are published yet."
  />
</Layout>
