---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import ResourceList from "../../components/ResourceList.astro";
import { getResourcesByCategory } from "../../utils/sanity";

const resources = await getResourcesByCategory("fulbright-prep");
---

<Layout title="Fulbright Resources">
  <section class="space-y-2">
    <h1>Fulbright Resources</h1>
    <Breadcrumb />
    <p class="max-w-3xl">
      Preparation resources and downloadable materials for Fulbright work.
    </p>
  </section>
  <ResourceList
    resources={resources}
    emptyMessage="No Fulbright preparation resources are published yet."
  />
</Layout>
