---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <p><a href="/">Melissa Craven</a></p>
      <nav aria-label="Main">
        <ul>
          <li><a href="/travel">Travel</a></li>
          <li>
            <a href="/fulbright">Fulbright</a>
            <ul>
              <li><a href="/fulbright">Updates</a></li>
              <li><a href="/fulbright/resources">Resources</a></li>
              <li><a href="/fulbright/esol">ESOL Tools</a></li>
            </ul>
          </li>
          <li>
            <a href="/kids-corner">Kids' Corner</a>
            <ul>
              <li><a href="/kids-corner">Home</a></li>
              <li><a href="/kids-corner/polls">Polls</a></li>
              <li><a href="/kids-corner/tours">Tours</a></li>
            </ul>
          </li>
          <li><a href="/author">Author</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>&copy; 2026 Melissa Craven</p>
    </footer>
  </body>
</html>
